.playlist-wrap{
    display: flex;
    width: 100vw;
    /* padding:16px; */
  }
  .playlist-search{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
  }
  @media (max-width:570px) {
    .playlist-wrap{
      flex-direction: column-reverse;
    }
    .playlist-search{
      position: relative;
      top: 240px;
    }
}