.playlist-wrap{
    display: flex;
    width: 100vw;
    /* padding:16px; */
  }
  .playlist-search{
    padding-top: 32px;
    display: flex;
    flex-direction: column;
  }
  @media (max-width:570px) {
    .playlist-wrap{
      flex-direction: column-reverse;
    }
    .playlist-search{
      position: relative;
      top:400px;
    }
    
    .mobile{
      left:0px;
      background-color: black;
      height: 800px;
      z-index: 55;
      transition: .6s;
      height: 100%;
      /* width: 250px; */
    }
    .side-nav{
      background-color: black;
      width: 250px;
    }
}